# API settings
API_TITLE=cityscoutAI API
API_VERSION=0.1.0
DEBUG=true

# Elasticsearch
ELASTICSEARCH_HOST=localhost:9200
ELASTICSEARCH_INDEX=events

# Ollama
OLLAMA_HOST=http://localhost:11434
OLLAMA_MODEL=mistral

# Environment
ENVIRONMENT=development
